<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="h-100 bg-dark">
<div class="container h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div>
            <div class="mb-2 text-light text-center d-flex justify-content-between align-items-center">
                <h4>volume</h4>
                <h1 id="volume_value"></h1>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary me-2" id="prev_button">< Prev</button>
                <button type="button" class="btn btn-primary me-2" id="toggle_button">Pause/Play</button>
                <button type="button" class="btn btn-primary me-2" id="next_button">Next ></button>
            </div>
            <div class="mt-2">
                <input type="range" class="form-range" id="volumeChanger" value="0" min="0" max="100" step="5">
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</html>
